@model TeleProgram.Models.Phones

@{
    ViewData["Title"] = "Create";
}
@{
    var successMessage = TempData["NotError"];
    var errorMessage = TempData["Error"];
    var errorMessage1 = TempData["error1"];
    var userregsiterSucces = TempData["ComeFromRegister"];
   
}
@if (userregsiterSucces != null)
{
    <div class="alert alert-success">
        @userregsiterSucces
    </div>
}

@if (successMessage != null)
{
    <div class="alert alert-success">
        @successMessage
    </div>
}

@if (errorMessage != null)
{
    <div class="alert alert-danger">
        @errorMessage  
    </div>
}
@if (errorMessage1 != null)
{
    <div class="alert alert-danger">
        @errorMessage1
    </div>
}


<h1>Assign Phone To New user</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="ProgrameName" class="control-label"></label>
                <select asp-for="ProgrameName" class ="form-control" asp-items="ViewBag.ProgrameName"></select>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <br />
                <input asp-for=UserId />
                
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <form asp-action="Index">
        <button>Back to List</button>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
